.advantage-list {
  min-height: 416px;
  margin-left: 18px;
  margin-right: 18px;
  padding-top: 29px;
  color: #000;
  background-color: #fff;
}

.advantage-list__wrapper:not(:last-child) {
  margin-bottom: 18px;
}

.advantage-list__title {
  font-size: 18px;
  line-height: 26px;
  display: flex;
  font-weight: bold;
  position: relative;
  padding-left: 49px;
  height: 37px;
  text-align: start;
  align-items: center;
  margin-bottom: 13px;

  &::before {
    content: "";
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    left: 0;
  }

  &--home::before {
    background-image: url(../../svg/icon-home.svg);
    width: 39px;
    height: 37px;
  }

  &--souvenir::before {
    background-image: url(../../svg/icon-gift.svg);
    width: 32px;
    height: 38px;
  }

  &--food::before {
    background-image: url(../../svg/icon-burger.svg);
    width: 40px;
    height: 35px;
  }
}

.advantage-list__description {
  font-size: 14px;
  line-height: 21px;
  text-align: start;
  padding-left: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .advantage-list {
    display: flex;
    padding-right: 40px;
    padding-left: 40px;
    margin: 0;
  }

  .advantage-list__title {
    font-size: 21px;
    line-height: 26px;

    &--home::before {
      width: 82px;
      height: 78px;
    }

    &--souvenir::before {
      width: 73px;
      height: 77px;
    }

    &--food::before {
      width: 73px;
      height: 77px;
    }
  }
}
