.aside__title {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 28px;
  margin-top: 0;
}

.aside__title--mg {
  margin-bottom: 23px;
}

.aside__description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 26px;
}

.aside {
  position: relative;
  z-index: 0;
  padding-top: 39px;
}

@media (min-width: 768px) {
  .aside {
    padding-top: 49px;
    padding-right: 110px;
    padding-left: 110px;

    &--photo,
    &--form {
      padding-top: 74px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .aside__title {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 31px;

    &--photo,
    &--form {
      font-size: 30px;
    }
  }

  .aside__description {
    text-align: center;

    &--form {
      width: 490px;
    }
  }
}

@media (min-width: 1200px) {
  .aside {
    background-color: #fff;
    padding-right: 250px;
    padding-left: 337px;
    height: 206px;

    &--photo {
      height: 288px;
      padding-top: 114px;
      padding-right: 340px;
    }
  }

  .aside__wrapper {
    width: 550px;
  }

  .aside__title {
    margin-bottom: 29px;

    &--photo {
      margin-bottom: 27px;
    }
  }

  .aside__description {
    &--photo {
      padding-right: 25px;
    }
  }
}
