.copyright {
  display: flex;
  justify-content: center;
  min-height: 34px;
}

.copyright__text {
  display: flex;
  position: relative;
  padding-right: 38px;
  align-items: center;
}

.copyright__text::after {
  content: "";
  background-image: url(../../img/htmlacademy.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 27px;
  height: 34px;
  position: absolute;
  right: 0;
}

.copyright__text:hover::after,
.copyright__text:focus::after {
  background-image: url(../../img/academy-blue.png);
}

.copyright__text:active::after {
  background-image: url(../../img/academy-grey.png);
}
