.greeting {
  background-image: url(../../img/back-mobile.png);
  height: 390px;
  position: relative;
  z-index: 0;
  background-position-y: bottom;
  background-repeat: no-repeat;

  &--mini {
    background-image: url(../../img/back-mobile.png);
    height: 158px;
    position: relative;
    z-index: 0;
    bottom: 0;
  }
}

.greeting__signature {
  padding-top: 90px;
  box-sizing: content-box;

  &--mini {
    padding-top: 52px;
  }
}

.greeting__intro {
  padding-top: 45px;
}

.greeting::after {
  content: "";
  background-image: url(../../img/intro-triangle.png);
  width: 320px;
  height: 57px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  bottom: 0;
}

@media (min-width: 768px) {
  .greeting {
    background-image: url(../../img/back-desktop.jpg);
    height: 518px;
    margin-top: 0;

    &--mini {
      height: 290px;
    }
  }

  .greeting__signature {
    padding-top: 93px;

    &--mini {
      width: 457px;
      height: 79px;
    }
  }

  .greeting::after {
    content: "";
    background-image: url(../../img/intro-triangle-tablet.png);
    min-width: 768px;
    height: 57px;
  }
}
