.main-nav__wrapper {
  display: flex;
  justify-content: flex-end;
}

.main-nav__logo {
  display: block;
  margin-right: 65px;
}

.main-nav__toggle {
  border: none;
  background-color: inherit;
  height: 35px;
  padding: 0;
  margin-right: 20px;
  margin-top: 15px;
}

.main-nav {
  z-index: 1;
}
