.main-nav__wrapper {
  display: flex;
  justify-content: flex-end;
}

.main-nav__logo {
  margin-right: 65px;
}

.main-nav__toggle {
  border: none;
  background-color: inherit;
}

.main-nav {
  z-index: 1;
}
