.offer {
  min-height: 288px;
  padding-top: 27px;
}

.offer__title {
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 20px;
  margin-top: 0;
}

.offer__description {
  margin-top: 0;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 33px;
}

@media (min-width: 768px) {
  .offer {
    padding-top: 57px;
    padding-bottom: 58px;
  }

  .offer__title {
    font-size: 30px;
    margin-bottom: 28px;
  }

  .offer__description {
    margin-bottom: 43px;
  }
}

@media (min-width: 1200px) {
  .offer {
    padding-bottom: 67px;
    background-color: #fff;
  }

  .offer__description {
    margin-bottom: 47px;
  }
}
