.offer {
  min-height: 288px;
  padding-top: 27px;
}

.offer__title {
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 20px;
  margin-top: 0;
}

.offer__description {
  margin-top: 0;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 33px;
}
