.photograph__item {
  border-top: 1px solid #e5e5e5;
  height: 415px;
  padding-top: 22px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.photograph__item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.photograph__image-wrapper {
  margin-bottom: 16px;
  height: 280px;
}

.photograph__wrapper {
  text-align: start;
}

.photograph__signature {
  display: block;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

.photograph__author {
  display: block;
  font-style: normal;
  text-transform: none;
  margin-bottom: 10px;
}

.photograph__likes {
  display: flex;
  font-weight: bold;
  position: relative;
  align-items: baseline;
  padding-left: 37px;
}

.photograph__likes::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url(../../svg/icon-like-grey.svg);
  width: 23px;
  height: 21px;
  background-repeat: no-repeat;
  left: 0;
}

@media (min-width: 768px) {
  .photograph__item {
    border: none;
    padding: 0;
    height: 347px;
    width: 324px;

    &--main {
      width: 768px;
      height: auto;
      padding-right: 60px;
      padding-left: 60px;
      padding-bottom: 0;
      padding-top: 22px;
    }
  }

  .photograph__image {
    height: 267px;
    width: 324px;

    &--main {
      height: 400px;
      width: 650px;
    }
  }

  .photograph__image-wrapper {
    margin-bottom: 0;
    height: 267px;

    &--main {
      height: 400px;
      width: 648px;
    }
  }

  .photograph__wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    height: 80px;
    padding-top: 16px;
    padding-left: 19px;
    padding-right: 24px;

    &--main {
      width: 648px;
      padding-top: 16px;
      padding-left: 19px;
      padding-right: 15px;
    }

    &--dark {
      background-color: #eaeaea;
    }
  }

  .photograph__likes {
    padding-top: 13px;
  }

  .photograph__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media (min-width: 1200px) {
  .photograph__item {
    width: 400px;
    position: relative;
    height: 267px;

    &--main {
      position: relative;
      width: 1200px;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      height: 400px;
    }
  }

  .photograph__image-wrapper {
    width: 400px;

    &--main {
      width: 1200px;
    }
  }

  .photograph__item img {
    width: 400px;
  }

  .photograph__item--main img {
    width: 1200px;
  }

  .photograph__wrapper {
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.3);
    color: #fff;
    width: 400px;
    bottom: 0;

    &--main {
      width: 1200px;
      position: absolute;
      bottom: 0;
    }
  }

  .photograph__cards {
    padding: 0;
    position: relative;
    height: 267px;
  }

  .photograph__likes::before {
    fill: #fff;
  }

  .photograph__likes::before {
    background-image: url(../../svg/icon-like.svg);
  }
}
