.social-networks__hashtag {
  padding-top: 27px;
  font-size: 21px;
  line-height: 26px;
  display: block;
  margin-bottom: 36px;

  &--photo {
    padding-top: 40px;
  }
}

.social-networks__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-top: 0;
  margin-left: 84px;
  width: 151px;
  margin-bottom: 40px;
}

.social-networks__item {
  background-color: $blue;
  width: 46px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
