.video {
  padding-top: 34px;
}

.video__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 26px;
}

.video__description {
  font-size: 14px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

.video__wrapper-text {
  margin-bottom: 37px;
}

.video__image {
  display: block;
  position: relative;
}

.video__panel {
  padding-left: 20px;
  padding-right: 20px;
}

.video__panel-time {
  position: absolute;
  width: 280px;
  height: 45px;
  background-color: rgba($color: #000000, $alpha: 0.6);
  top: -45px;
  left: 0;
}

.video__panel-time::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 235px;
  background-color: #fff;
  opacity: 20%;
  top: 22px;
  left: 22px;
  cursor: pointer;
}

.video__panel-time::after {
  content: "";
  position: absolute;
  height: 9px;
  width: 9px;
  background-color: #fff;
  left: 58px;
  top: 19px;
  border-radius: 50%;
  cursor: pointer;
}

.video__panel-control {
  position: relative;
  display: flex;
  height: 66px;
  width: 280px;
  background-color: #f2f2f2;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

.video__panel-bt-wrapper {
  display: flex;
  width: 83px;
  justify-content: space-between;
}

.video__panel-bt {
  border: none;
  fill: #5c6870;
  padding-top: 6px;
}

.video__panel-bt:hover,
.video__panel-bt:focus {
  fill: #333;
  outline: none;
}

.video__panel-bt:active {
  fill: #b8b8b8;
  outline: none;
}

@media (min-width: 768px) {
  .video {
    padding-top: 68px;
    padding-right: 60px;
    padding-left: 60px;
  }

  .video__title {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 30px;
  }

  .video__description {
    width: 465px;
    text-align: center;
  }

  .video__wrapper-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 73px;
  }

  .video__image {
    width: 648px;
    height: 500px;
  }

  .video__panel {
    margin-top: -93px;
    padding-left: 0;
    padding-right: 0;
    width: 648px;
  }

  .video__panel-control {
    width: 648px;
    height: 93px;
    background-color: rgba($color: #000000, $alpha: 0.6);
    padding-left: 29px;
    padding-right: 34px;
  }

  .video__panel-time {
    top: 0;
    background-color: inherit;
    position: relative;
    width: 388px;
    background-color: transparent;
  }

  .video__panel-bt {
    fill: #fff;
    background-color: transparent;
  }

  .video__panel-time::before {
    width: 388px;
    left: 0;
  }

  .video__panel-time::after {
    left: 112px;
  }

  .video__panel-bt-wrapper {
    width: 95px;
  }

  .video__panel-bt:hover,
  .video__panel-bt:focus {
    fill: #c2c2c2;
  }

  .video__panel-bt:active {
    fill: #949494;
  }
}

@media (min-width: 1200px) {
  .video {
    background-color: #fff;
    padding-top: 71px;
  }

  .video__wrapper-text {
    margin-bottom: 71px;
  }

  .video__image {
    width: 800px;
    height: 500px;
    margin: 0 auto;
  }

  .video__panel {
    width: 800px;
    margin-left: 140px;
  }

  .video__panel-control {
    width: 800px;
  }

  .video__panel-time {
    width: 540px;
  }

  .video__panel-time::before {
    width: 540px;
  }
}
